/* Color Theme Swatches in Hex */
$verde: #8EFF35
$amarelo: #FFFF47
$laranja: #FF6A2D
$rosa: #FF6D82
$azul: #c3ddff
$bg: #2C2F33
$navy: #23272A

$theme-colors: ("primary": $azul)
$btn-white-space: nowrap
$enable-rounded: false
$enable-shadows: false
$enable-pointer-cursor-for-buttons: false
$enable-responsive-font-sizes: true

@import "../../node_modules/bootstrap/scss/bootstrap"

@font-face
	font-family: 'Lexend Deca'
	src: url(../fonts/LexendDeca-Regular.ttf)
	font-weight: 400

html, body
	height: 100%
	font-size: 12pt
	color: $navy
	background: $navy
a, .btn-link
	&:hover
		text-decoration: none
main
	min-height: 100%
	position: relative
	font-size: 1em
	font-family: 'Lexend Deca', sans-serif
	p
		font-size: inherit

header
	transform: translateY(-80px)
	transition: .4s
	border-bottom-right-radius: 50px
	border-bottom-left-radius: 50px
	h1
		font-size: 4.5em
		color: $navy
	p
		font-size: 0.8em
		margin-top: -1em
	&.slide
		transform: translateY(0px) !important

.page
	transform: translateY(0px)
	border-radius: 0 !important
	h1
		font-size: 2.5em !important

section
	padding-top: 350px
	padding-bottom: 40px
	background-color: $bg
	border-bottom-right-radius: 50px
	border-bottom-left-radius: 50px
.over
	padding-top: 15px
	height: 547px
	overflow-x: overlay
	color: $white
	font-size: 0.8em
	border-radius: 0 !important

footer
	text-align: center
	background: $navy
	color: #CCC
	font-size: .7em
	height: 50px

nav
	a
		text-transform: uppercase
		font-weight: 800
		font-size: 1.5em
		color: $white
		&:hover
			cursor: default


#config
	height: 80px
	background: rgba($white, 0.8)
	border-bottom-right-radius: 50px
	border-bottom-left-radius: 50px

#config-footer
	height: 50px
	transform: translateY(2px)
	background: $navy
	color: $white
	transition: .4s
	border-top-right-radius: 50px
	border-top-left-radius: 50px
	&.slide
		transform: translateY(-48px) !important

button:focus, button:hover
	outline: 0 !important

.main-button
	width: 20px
	height: 20px
	position: fixed
	top: 25px
	border: none
	z-index: 1100
	&:hover
		cursor: default

#config_button
	background: url(../images/config.svg) no-repeat 50% 50%
	right: 60px

#close_button
	background: url(../images/close.svg) no-repeat 50% 50%
	right: 25px

#loading
	position: absolute
	top: 50%
	left: 50%
	margin: -2em 0 0 -2em
	z-index: 2200

.btn-create-sheet
	background-image: url(../images/table.svg)
	background-position: 90% 50%
	background-repeat: no-repeat