/* Color Theme Swatches in Hex */
$verde: #8EFF35
$amarelo: #FFFF47
$laranja: #FF6A2D
$rosa: #FF6D82
$azul: #283E51

$theme-colors: ("primary": $laranja)
$enable-responsive-font-sizes: true
$btn-white-space: nowrap

@import "../node_modules/bootstrap/scss/bootstrap"

@font-face
	font-family: 'Lexend Deca'
	src: url(../fonts/LexendDeca-Regular.ttf)
	font-weight: 400

html, body
	height: 100%
	font-size: 12pt
	color: #000
	background: #000
a, .btn-link
	&:hover
		text-decoration: none
main
	min-height: 100%
	position: relative
	font-size: 1em
	font-family: 'Lexend Deca', sans-serif
	p
		font-size: inherit

header
	background: url(../images/bg.svg) 0 0
	background-size: 72px
	transform: translateY(-80px)
	transition: .4s
	border-bottom-right-radius: 50px
	border-bottom-left-radius: 50px
	h1
		font-size: 4.5em
	p
		font-size: 0.8em
		margin-top: -1em
.page
	transform: translateY(0px)
	border-radius: 0 !important
	h1
		font-size: 2.5em !important

.slide
	transform: translateY(0px) !important

section
	padding-top: 350px
	padding-bottom: 40px
	background: #333*.15
	border-bottom-right-radius: 50px
	border-bottom-left-radius: 50px
.over
	padding-top: 15px
	height: 547px
	overflow-x: overlay
	color: $white
	font-size: 0.8em
	border-radius: 0 !important

footer
	text-align: center
	background: #000
	color: #CCC
	font-size: .7em

nav
	a
		text-transform: uppercase
		font-weight: 800
		font-size: 1.5em
		color: $white
		&:hover
			cursor: default


#config
	height: 80px
	background: rgba($white, 0.9)
	border-bottom-right-radius: 50px
	border-bottom-left-radius: 50px

button:focus
	outline: 0

.main-button
	width: 20px
	height: 20px
	position: fixed
	top: 25px
	border: none
	z-index: 1100
	&:hover
		cursor: default

#config_button
	background: url(../images/config.svg) no-repeat 50% 50%
	right: 60px

#close_button
	background: url(../images/close.svg) no-repeat 50% 50%
	right: 25px

#loading
	position: absolute
	top: 50%
	left: 50%
	margin: -2em 0 0 -2em
	z-index: 2200